<form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="signup-form">
  <h1>
    Sign In
  </h1>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required minlength="3" [(ngModel)]="this.userData.username" #username="ngModel">
    </div>
    <button type="submit" class="submit-btn">Sign In</button>
    <p>
      Don't have an account? <a [routerLink]="['/signup']">Register</a>
    </p>
</form>

<div *ngIf="clientData !== ''">{{ clientData }}</div>
<div *ngIf="authenticatorData !== ''">{{ authenticatorData }}</div>
<div *ngIf="userHandle !== ''">{{ userHandle }}</div>
<div *ngIf="signature !== ''">{{ signature }}</div>