<form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="signup-form">
    <h1>
      Sign Up
    </h1>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required minlength="3" [(ngModel)]="userData.username" #username="ngModel">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required email [(ngModel)]="userData.email" #email="ngModel">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required minlength="6" [(ngModel)]="userData.password" #password="ngModel">
    </div>
    <button type="submit" class="submit-btn">Sign Up</button>
    <p>
      Already registered? <a [routerLink]="['/signin']">Sign In</a>
    </p>
</form>
  