.signup-form {
  max-width: 400px;
  min-width: 360px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.5rem;
  background-color: #0d1a24;
  border-radius: 8px;
  box-shadow:  0 0px 320px rgba(89, 188, 213, 0.258);
}

/* Form group */
.form-group {
  margin-bottom: 20px;
}

/* Form label */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #cbd5e1;
}

/* Input field */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #788997;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #293a4a;
  color: #bdd3ef;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #6c8aa8;
  box-shadow: inset 0 0 14px rgba(108, 138, 168, 0.5), 0 0 22px rgba(108, 138, 168, 0.5);
}

/* Error message */
.error-message {
  color: #ff5757;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 2px;
}

/* Submit button */
.submit-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #6c8aa8;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #5a7a94;
}

.submit-btn:disabled {
  background-color: #546d84;
  cursor: not-allowed;
}

.sign-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.sign-in-container span {
  font-size: 1rem;
  color: #666;
  margin-right: 0.5rem;
}

.sign-in-btn {
  background-color: transparent;
  border: 0px solid #666;
  color: #666;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign-in-btn:hover {
  font-weight: 700;
}

  /* Paragraph styling */
  p {
    text-align: center; 
    margin-top: 20px;
    font-size: 16px;
    color: aliceblue;
  }

/* Link styling */
a {
  color: #78A9FF;  /* Light blue link color */
  text-decoration: none;
}

a:hover {
  color: #93B8FF; /* Slightly brighter blue on hover */
  text-decoration: underline; 
}


h1{
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 600;
}

.alert{
  color: #ff5757;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 2px;
}